<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jonathan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Adamina' rel='stylesheet'>
  <style >
    p{
      text-align:center;
      font-size: 18px;
      border: 1px solid black;
      width: 200px;
    }
    body{
      background-color:lightblue; 
    }
    img {
      object-fit: cover;
    }
    h3{
      font-size: 36px;
      font-family: 'Adamina'
    }
  </style>
</head>
<body>

<div class="container-fluid" align=center>
  <h3>Jonathan Gurdal</h3>
      <img src="https://i.imgur.com/WGZzg1P.jpg" class="img-thumbnail" alt="Image of Jonathan" width=20%>
  <h3><b>Front End</b></h3>
  <p>
    <a href="mailto:jgurdal@gmail.com">jgurdal@gmail.com</a><br>
    <a href="https://github.com/jgurdal">GitHub</a><br>
    <a href="https://linkedin.com/in/jonathangurdal">LinkedIn</a>
  </p>
</div>

<!-- Button goes back to home page -->
<a href="../"><button type="button" class="btn btn-primary">Go back to home page...</button></a>

</body>
</html>
