<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kayla</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid" align=center>
  <h3>Kayla</h3>
  <img src="https://avatars0.githubusercontent.com/u/28065363?s=400" class="img-circle" alt="roseImage" width="350" height="350">
  <section>
    <h3><br>Github Master</h3>
    <p>
      <br /><a href="mailto:kayla.musleh@gmail.com">kayla.musleh@gmail.com</a>
      <br /><a href="https://github.com/123kay12">GitHub</a>
      <br /><a href="https://www.linkedin.com/in/kayla-m-91a39999/">LinkedIn</a><br />
    </p>
  </section>
  
</div>

<!-- Button goes back to home page -->
<a href="../"><button type="button" class="btn btn-primary">Go back to home page...</button></a>

</body>
</html>
