<!DOCTYPE html>
<html lang="en">
<head>
  <title>Minho Cha</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid" align=center>
  <h3>Minho Cha</h3>
  <img src="https://avatars2.githubusercontent.com/u/17245555?v=3&s=400" class="img-circle"  width="380" height="400">
  <section>
      <h3><br>Full Stack Engineer</h3>
      <p>
        <br /><br /><a href="mailto:minhocha1004@gmail.com">minhocha1004@gmail.com</a>
        <br /><a href="https://github.com/minhoCHA">GitHub</a>
        <br /><a href="https://linkedin.com/in/minho-cha-17333a113">LinkedIn</a><br />
  </section>
  
</div>

<!-- Button goes back to home page -->
<a href="../"><button type="button" class="btn btn-primary">Go back to home page...</button></a>

</body>