<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rowvin Dizon</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid" align=center>
  <h3>Rowvin Dizon</h3>
  <img src="https://avatars1.githubusercontent.com/u/7840167?s=460&v=4" class="img-circle"  width="380" height="400">
  <section>
      <h3><br>Team Lead</h3>
      <p>
        <br /><br /><a href="mailto:rowvindizon@gmail.com">rowvindizon@gmail.com</a>
        <br /><a href="https://github.com/r0wvin">GitHub</a>
        <br /><a href="https://linkedin.com/in/rowvin">LinkedIn</a><br />
      </p>
    </section>
</div>

<!-- Button goes back to home page -->
<a href="../"><button type="button" class="btn btn-primary">Go back to home page...</button></a>

</body>
